<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove Submissions</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<br>
	<h1>Removing All Submissions</h1>
		
        <form action="/processClearEntries" method="post" onsubmit="return window.confirm(`Are you sure you want to remove all submissions?`);">
            <input type="submit" value="Remove all submissions">
        </form>
		<hr>
		<a href="/"><u><b>HOME</b></u></a>
	</form>
</body>

</html>