<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HOME</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>Find NFL Teams Color</h1>
	<p> It can difficult to find the hex of nfl teams colors, especially for projects. Use the find button to search
		for your teams color
	</p><br><br>

    <form action="/submit" method="get" style="display: inline">
      <button type="submit">Find Teams Color</button>
    </form>

    <form action="/reviewSubmission" method="get" style="display: inline">
      <button type="submit">Review Previous Requests</button>
    </form>

    <form action="/clearEntries" method="get" style="display: inline">
      <button type="submit">Clear Database</button>
    </form>

	
  </body>
</html>
