<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Review Submission</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Submission Data</h1>

	<div>
		<%- info %>
	</div>
	<a href="/"><u><b>HOME</b></u></a>

</body>

</html>
