<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Remove Submissions</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<br>
	<h1>Removal of All Previous Submissions</h1>
		
    <div>
		<%- info %>
	</div>
    <br>
		<a href="/"><u><b>HOME</b></u></a>
	</form>
</body>

</html>