<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review Submission</title>
</head>

<body>
	<br>
	<h1>Review Submission</h1>
	<form action="/processReviewSubmission" method="post">
		<fieldset>
            
			<label><b>Email Address: </b><input type="email" name="email"></label><br><br>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Request"/>
		<hr>
		<a href="/"><u><b>HOME</b></u></a>
	</form>
</body>

</html>